<navigation-header></navigation-header>
<div class="content-wrapper">
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Enter e-mail and password</mat-card-title>
    </mat-card-title-group>
    <mat-card-content [formGroup]="userForm">
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          placeholder="Enter e-mail"
          type="email"
          formControlName="email"
        />
        <mat-error *ngIf="email && email.touched">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Password"
          type="password"
          formControlName="password"
          value=""
        />
        <mat-error *ngIf="password && password.touched"> Please enter a valid password </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        [disabled]="password?.invalid || email?.invalid"
        (click)="onLogin()"
      >
        Submit
      </button>
      <button
        mat-button
        (click)="this.router.navigate(['/', 'register'])"
      >
        Don't have account? Register!
      </button>
    </mat-card-content>
  </mat-card>
</div>
