<app-user-header></app-user-header>
<form [formGroup]="registerForm" class="form-wrapper">
  <mat-form-field appearance="fill">
    <mat-label>First name</mat-label>
    <input matInput required formControlName="firstName" />
    <mat-error *ngIf="f.firstName.errors?.['required'] && f.firstName.touched">Name is required!</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last name</mat-label>
    <input matInput required formControlName="lastName" />
    <mat-error *ngIf="f.lastName.errors?.['required'] && f.lastName.touched">Last name is required!</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput required formControlName="email"/>
    <mat-error *ngIf="f.email.errors?.['required'] && f.email.touched">E-mail is required!</mat-error>
    <mat-error *ngIf="f.email.errors?.['invalid'] && f.email.touched">E-mail is invalid!</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput required formControlName="password" [type]="hide ? 'password' : 'text'"/>

    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error  *ngIf="f.password.errors?.['required'] && f.password.touched">Password is required!</mat-error>

  </mat-form-field>
  <password-strength-meter [password]="f.password.value || ''"></password-strength-meter>
  <mat-form-field appearance="fill">
    <mat-label>Confirm password</mat-label>
    <input matInput required formControlName="confirmPassword" [type]="hide ? 'password' : 'text'"/>
    <mat-error  *ngIf="f.confirmPassword.errors?.['required'] && f.confirmPassword.touched">Confirm password is required</mat-error>
    <mat-error  *ngIf="f.confirmPassword.errors?.['mustMatch'] && f.confirmPassword.touched">Password must match!</mat-error>
  </mat-form-field>
  <button mat-raised-button [disabled]="registerForm.status === 'INVALID'" (click)="onSubmit()">Register</button>
</form>
