<app-user-header></app-user-header>
<form [formGroup]="registerForm" class="form-wrapper">
  <mat-form-field appearance="fill">
    <mat-label>First name</mat-label>
    <input matInput required formControlName="firstName" />
    <mat-error *ngIf="f.controls['firstName'].errors?.['required'] && f.controls['firstName'].touched">Name is required!</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last name</mat-label>
    <input matInput required formControlName="lastName" />
    <mat-error *ngIf="f.controls['lastName'].errors?.['required'] && f.controls['lastName'].touched">Last name is required!</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput required formControlName="email"/>
    <mat-error *ngIf="f.controls['email'].errors?.['required'] && f.controls['email'].touched">E-mail is required!</mat-error>
    <mat-error *ngIf="f.controls['email'].errors?.['invalid'] && f.controls['email'].touched">E-mail is invalid!</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput required formControlName="password" [type]="hide ? 'password' : 'text'"/>

    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error  *ngIf="f.controls['password'].errors?.['required'] && f.controls['password'].touched">Password is required!</mat-error>

  </mat-form-field>
  <password-strength-meter [password]="$any(f.controls['password'].value)"></password-strength-meter>
  <mat-form-field appearance="fill">
    <mat-label>Confirm password</mat-label>
    <input matInput required formControlName="confirmPassword" [type]="hide ? 'password' : 'text'"/>
    <mat-error  *ngIf="f.controls['confirmPassword'].errors?.['required'] && f.controls['confirmPassword'].touched">Confirm password is required</mat-error>
    <mat-error  *ngIf="f.controls['confirmPassword'].errors?.['mustMatch'] && f.controls['confirmPassword'].touched">Password must match!</mat-error>
  </mat-form-field>
  <button mat-raised-button [disabled]="registerForm.status === 'INVALID'" (click)="onSubmit()">Register</button>
</form>
