.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-right {
  width: 30%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  height: 80px;
}
